.view {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 90%;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.05);
}

.view > * {
    width: 100%;
}

@media (width < 600px) {
    .view {
        width: 85%;
    }
}
