.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    font-size: 18px;
    margin: 0 auto;
    background: inherit;
    position: sticky;
    top: 0;
    animation: header-scroll ease-in-out;
    animation-timeline: scroll();
    width: 90%;
}

@keyframes header-scroll {
    0% {
        background-color: transparent;
    }
    7% {
        background-color: rgba(20, 20, 20, 0.9);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    100% {
        background-color: rgba(20, 20, 20, 0.9);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

    }
}

.header > div {
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: 480;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    transition: 0.07s ease-in-out;
}

.header > div:hover {
    background: rgba(83, 91, 242, 0.2);
}

@media (width < 600px) {
    .header {
        justify-content: space-between;
    }

    .header > div span {
        display: none;
    }

    .header > div {
        background: rgba(83, 91, 242, 0.1);

    }
}